* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
}

.logo {
  width: 140px;
  height: 140px;
  margin-left: 20px;
}

.nav-items ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-right: 40px;
}

.nav-items > ul > li {
  list-style-type: none;
  font-size: 20px;
}

/* Hero Section */
.container {
  margin: 20px 15px;
}

.resto-container {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

.resto-card {
  background-color: #f1f1f1;
  border-radius: 12px;
  width: 250px;
}

.resto-card:hover {
  cursor: pointer;
  border: 1px solid #000;
}

.resto-image {
  border-radius: 20px;
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.title {
  padding: 5px 12px;
}

.stars {
  margin: 5px 0;
}
